@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
